
@media only screen and (max-width: 600px) {
    .parentGraphContainer {
        height: 186px;
    }
  }

.parentGraphContainer {
   height: 300px;
   width: 100%;
   margin-bottom: 24px;
   margin-top: 64px;
}

.childPlotContainer {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
}

.kpi {
    margin: 0 12px 12px 12px;
    padding: 16px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    &.isMobile{
        margin: 0 8px 8px 8px;
        padding: 0;
    }
}

.kpiContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}