.map {
    margin-top: 72px;
}

.sliderContainer {
    align-items: center;
    position: absolute;
    background: rgba(255, 255, 255, .9);
    bottom: 16px;
    left: 16px;
    z-index: 999;
    padding-left: 8px;
    padding-right: 8px;
    width: 300px;
    //height: 48px;
}

.sliderAndControls {
    display: flex;
}

.slider {
    width: 176px;
    margin-top: 20px;
}

.dateLabel {
    margin-top: 8px;
    margin-bottom: -28px;
    font-size: 14px;
    width: 176px;
    text-align: center;
}

.animateButton {
    margin-left: 12px;
    margin-top: 4px;
}

.speedSelector {
    margin-left: 4px;
    margin-top: 8px;
}

.legend {
    background: rgba(255, 255, 255, .9);
    position: absolute;
    bottom: 88px;
    left: 16px;
    z-index: 999;
    padding: 8px;
    width: 300px;
}

.legendLabel {
    font-size: 11px;
    text-align: right;
    transform: translateX(8px);
}

.legendLabelLeft {
    font-size: 11px;
    text-align: left;
    transform: translateX(-8px);
}

.legendLabelCenter {
    font-size: 11px;
    text-align: center;
}

.legendItem {
    width: 30px;
    height: 10px;
}

.legendItemNegative {
    width: 32px;
    height: 10px;
}

.graphModeContainer {
    width: 300px;
}

.graphModeTitle {
    padding: 24px 24px 12px 36px;
}

.graphModeButtonContainer {
    padding-left: 24px;
    padding-bottom: 24px;

}

.radioButtonLabel {
    font-size: 11px;
}