.axis {
    color: #EEE;
    shape-rendering: crispedges;
}

.axis text{
    color: #444;
    font-size: 12px;
    font-family: "Open Sans", verdana, arial, sans-serif;
}

.legendLabel {
    text-anchor: left;
    font-size: 12px;
}