
/* Style the lines by removing the fill and applying a stroke */
.line {
    fill: none;
    stroke: #1F77B4;
    stroke-width: 2;
}
  
.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff;
}
  
  .focus circle {
  fill: none;
  stroke: steelblue;
}


.axis {
    color: #EEE;
    shape-rendering: crispedges;
}

.axis text{
    color: #444;
    font-size: 12px;
    font-family: "Open Sans", verdana, arial, sans-serif;
}

.domain {
    display: none;
}

.focus circle {
    fill: #1F77B4;
    z-index: 10;
}

.tooltip {
    width: 94px;
    padding: 4px 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    position: absolute;
    background-color: white;
    font-size: 14px;
    pointer-events: none;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -ms-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;
}

.tooltip div {
    margin: 3px 0;
}

.tooltip-date, .tooltip-likes {
    font-weight: bold;
}