.header {
    font-size: 12px;
    color: rgba(0, 0, 0,0.54);
}

.value {
    color: black;
    cursor: pointer;
}

.value:focus {
    outline: none !important;
}

.container {
    width: 100%;
}

.container > div {
    width: auto !important;
    height: auto !important;
}