.kpi {
    margin: 16px;
}

.kpiTitle {
    font-size: 18px;
    color: rgba(0, 0, 0, .54);
    text-align: center;

    &.isMobile {
        font-size: 14px;
    }
}

.kpiValue {
    font-size: 34px;
    text-align: center;
    color: black;

    &.isMobile {
        font-size: 24px;
    }
}

.baselineTitle {
    color: rgba(0, 0, 0, .54);
    text-align: center;
    font-size: 14px;
    padding-left: 4px;

    &.isMobile {
        font-size: 12px;
    }
}

.baselineValue {
    font-size: 14px;
    text-align: center;
    color: black;

    &.isMobile {
        font-size: 12px;
    }
}

.positiveValue {
    color: #34d400;
}

.negativeValue {
    color: #FF0000;
}