.kpi {
    margin: 16px;

    .isSmall {
        width: 120px;
    }
}

.kpiTitle {
    font-size: 14px;
    color: rgba(0, 0, 0, .54);
    text-align: center;

    &.isMobile {
        font-size: 14px;
    }

    &.isSmall {
        font-size: 12px;
    }
}

.kpiValue {
    font-size: 34px;
    text-align: center;
    color: black;

    &.isMobile {
        font-size: 28px;
    }

    &.isSmall {
        font-size: 24px;
    }

    &.notAvailable {
        font-size: 24px;
        margin-top: 16px;
        margin-bottom: 48px;

        &.isMobile{
            font-size: 20px;
        }
    }
}

.baselineTitle {
    color: rgba(0, 0, 0, .54);
    text-align: center;
    font-size: 14px;
    padding-left: 4px;

    &.isMobile {
        font-size: 13px;
    }

    &.isSmall {
        font-size: 12px;
    }
}

.baselineValue {
    font-size: 14px;
    text-align: center;
    color: black;

    &.isMobile {
        font-size: 13px;
    }

    &.isSmall {
        font-size: 12px;
    }
}

.positiveValue {
    color: #34d400;
}

.negativeValue {
    color: #FF0000;
}

.baselineContainer {
    text-align: center;
    margin-top: 8px;
}

.ratio {
    font-size: 24px;
    text-align: center;
    color: black;

    &.isMobile {
        font-size: 20px;
    }

    &.isSmall {
        font-size: 17px;
    }
}