.popupTitle {
    font-size: 14px;
    line-height: 32px;
    border-bottom: 1px solid rgba(0, 0, 0, .20);
    margin-bottom: 8px;
    font-weight: bold;
}

.popupSubtitle {
    color: rgba(0, 0, 0, .54);
}

.popupValue {
    text-align: right;
}

.popupTable {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 12px;
    width:230px;
}